<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("Edit MEG Survey")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ 2012..2015])
#set($rating = [ 1..10 ])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">MEG Participant Satisfaction Survey</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")
							</TD></TR>
							<tr><TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD></tr>

							<TR><TD>Date:</TD><TD>#xdatDateBox("hcp:megSurveyData/date" $item $vr $years)</TD></TR>
							<TR><TD>Rater:</TD><TD>#xdatStringBoxOnChange("hcp:megSurveyData/rater" $item "" "" $vr "")</TD></TR>
							<tr><td>&nbsp;</td></tr>

							<tr><td><b>1.</b></td><td><b>How would you rate your overall experience while participating in the MEG scan procedure?</b></td></tr>
							<tr><td> </td><td>Rating: #hcpStringBoxOnChange("hcp:megSurveyData/experience/scale" $item "" "rangeWarning" $vr 1)</td></tr>
							<tr><td> </td><td>Comment:</td></tr>
							<tr><td> </td><td>#xdatTextArea("hcp:megSurveyData/experience/comment" $item "" $vr 3 73)</td></tr>
							<tr><td>&nbsp;</td></tr>

							<tr><td><b>2.</b></td><td><b>How would you rate communication with the MEG research staff?</b></td></tr>
							<TR><td> </td><TD>Rating: #hcpStringBoxOnChange("hcp:megSurveyData/communication/scale" $item "" "rangeWarning" $vr 1)</TD></TR>
							<tr><td> </td><td>Comment:</td></tr>
							<tr><td> </td><TD>#xdatTextArea("hcp:megSurveyData/communication/comment" $item "" $vr 3 73)</TD></tr>
							<tr><td>&nbsp;</td></tr>

							<tr><td><b>3.</b></td><td><b>How would you rate your overall comfort during the MEG scan?</b></td></tr>
							<TR><td> </td><TD>Rating: #hcpStringBoxOnChange("hcp:megSurveyData/comfort/scale" $item "" "rangeWarning" $vr 1)</TD></TR>
							<tr><td> </td><TD>Comment:</TD></tr>
							<tr><td> </td><TD>#xdatTextArea("hcp:megSurveyData/comfort/comment" $item "" $vr 3 73)</TD></tr>
							<tr><td>&nbsp;</td></tr>

							<tr><td><b>4.</b></td><td><b>How would you rate the instructions and stimuli for the tasks that were done during the MEG scan?</b></td></tr>
							<TR><td> </td><TD>Rating: #hcpStringBoxOnChange("hcp:megSurveyData/instructions/scale" $item "" "rangeWarning" $vr 1)</TD></TR>
							<tr><td> </td><TD>Comment:</TD></tr>
							<tr><td> </td><TD>#xdatTextArea("hcp:megSurveyData/instructions/comment" $item "" $vr 3 73)</TD></tr>
							<tr><td>&nbsp;</td></tr>

							<tr><td><b>5.</b></td><td><b>Finally, do you have any suggestions or recommendations to improve the experience for future participants<br>undergoing a MEG scan in the HCP Study?</b></td></tr>
							<tr><td> </td><TD>Comment:</TD></tr>
							<tr><td> </td><TD>#xdatTextArea("hcp:megSurveyData/suggestions/comment" $item "" $vr 3 73)</TD></tr>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>

	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD style="padding-left:20px"><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm() {
	var experience = parseFloat(document.getElementById("hcp:megSurveyData/experience/scale").value);
	var communication = parseFloat(document.getElementById("hcp:megSurveyData/communication/scale").value);
	var comfort = parseFloat(document.getElementById("hcp:megSurveyData/comfort/scale").value);
	var instructions = parseFloat(document.getElementById("hcp:megSurveyData/instructions/scale").value);

	if (experience < 1 || experience > 10 ||
		communication < 1 || communication > 10 ||
		comfort < 1 || comfort > 10 ||
		instructions < 1 || instructions > 10) {

		result = window.confirm("There is a scale value out of range (1-10). Are you sure you want to continue?");

		if (result == true) {
			validateSubjectAssessorForm();
		}
	} else {
		validateSubjectAssessorForm();
		return true;
	}
	return false;
}

function rangeWarning() {
	var experience = parseFloat(document.getElementById("hcp:megSurveyData/experience/scale").value);
	var communication = parseFloat(document.getElementById("hcp:megSurveyData/communication/scale").value);
	var comfort = parseFloat(document.getElementById("hcp:megSurveyData/comfort/scale").value);
	var instructions = parseFloat(document.getElementById("hcp:megSurveyData/instructions/scale").value);

	if (experience < 1 || experience > 10) {
		document.getElementById("hcp:megSurveyData/experience/scale").style.background = "#fcc";
		//document.getElementById("bp_warn").style.visibility="visible";
		outOfRange = true;
	} else {
		document.getElementById("hcp:megSurveyData/experience/scale").style.background = "";
		//document.getElementById("bp_warn").style.visibility="hidden";
	}
	if (communication < 1 || communication > 10) {
		document.getElementById("hcp:megSurveyData/communication/scale").style.background = "#fcc";
		outOfRange = true;
	} else {
		document.getElementById("hcp:megSurveyData/communication/scale").style.background = "";
	}
	if (comfort < 1 || comfort > 10) {
		document.getElementById("hcp:megSurveyData/comfort/scale").style.background = "#fcc";
		outOfRange = true;
	} else {
		document.getElementById("hcp:megSurveyData/comfort/scale").style.background = "";
	}
	if (instructions < 1 || instructions > 10) {
		document.getElementById("hcp:megSurveyData/instructions/scale").style.background = "#fcc";
		outOfRange = true;
	} else {
		document.getElementById("hcp:megSurveyData/instructions/scale").style.background = "";
	}
}

window.onload=function() {
	rangeWarning();
	/* Sets the experiment label depending on the project */
	if (document.getElementById("hcp:megSurveyData/label").value == undefined || document.getElementById("hcp:megSurveyData/label").value == "") {
		var regex = /^\d\d\d\d\d\d$/;
    	// Addition to handle experiment labeling for shared subjects between projects
    	var project = document.getElementById("hcp:megSurveyData/project").value;

    	if (regex.test("$part.getLabel()")) {
    		if (project == "HCP_Phase2")
    			document.getElementById("hcp:megSurveyData/label").value = "$part.getLabel()" + "_megsurvey";
    	}
    }
};
</script>
